pad {
padding: 5px 0px;
border: 0px;
color: white;
}

pad.in {
padding-left: 5px;
padding-right: 10px;

border-radius: 0px 20px 20px 0px;
border-left-width: 0px;
}


pad.out {
padding-left: 10px;
padding-right: 5px;

border-radius: 20px 0px 0px 20px;
border-right-width: 0px;
}

pad.audio {
background-color: @blue_3;
}

pad.audio:hover {
background-color: alpha(@blue_3, 0.95);
}

pad.audio:active {
background-color: alpha(@blue_3, 0.8);
}

pad.midi_passthrough {
background-color: @green_3;
}

pad.midi_passthrough:hover {
background-color: alpha(@green_3, 0.95);
}

pad.midi_passthrough:active {
background-color: alpha(@green_3, 0.8);
}

pad.video {
background-color: @red_3;
}

pad.video:hover {
background-color: alpha(@red_3, 0.95);
}

pad.video:active {
background-color: alpha(@red_3, 0.8);
}

pad.midi {
background-color: @purple_3;
}

pad.midi:hover {
background-color: alpha(@purple_3, 0.95);
}

pad.midi:active {
background-color: alpha(@purple_3, 0.8);
}

pad.other {
background-color: @dark_2;
}

pad.other:hover {
background-color: alpha(@dark_2, 0.95);
}

pad.other:active {
background-color: alpha(@dark_2, 0.8);
}
