pad {
padding: 5px 0px;
border: 0px;
color: @pad_fg_color;
transition: outline-color 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), outline-width 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), outline-offset 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94), background 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes drop-pulse{
  0% { filter: brightness(1.1); }
  50% { filter: brightness(1.3); }
  100% { filter: brightness(1.1); }
}

pad:drop(active):not(disabled){
box-shadow: none;
filter: brightness(1.1);
animation: drop-pulse 1s infinite;
}

pad.in {
padding-left: 5px;
padding-right: 10px;

border-radius: 0px 20px 20px 0px;
border-left-width: 0px;
}


pad.out {
padding-left: 10px;
padding-right: 5px;

border-radius: 20px 0px 0px 20px;
border-right-width: 0px;
}

pad.audio {
background-color: @pad_audio_bg_color;
}

pad.audio:hover {
background-color: alpha(@pad_audio_bg_color, 0.95);
}

pad.audio:active {
background-color: alpha(@pad_audio_bg_color, 0.8);
}

pad.midi_passthrough {
background-color: @pad_midi_passthrough_bg_color;
}

pad.midi_passthrough:hover {
background-color: alpha(@pad_midi_passthrough_bg_color, 0.95);
}

pad.midi_passthrough:active {
background-color: alpha(@pad_midi_passthrough_bg_color, 0.8);
}

pad.video {
background-color: @pad_video_bg_color;
}

pad.video:hover {
background-color: alpha(@pad_video_bg_color, 0.95);
}

pad.video:active {
background-color: alpha(@pad_video_bg_color, 0.8);
}

pad.midi {
background-color: @pad_midi_bg_color;
}

pad.midi:hover {
background-color: alpha(@pad_midi_bg_color, 0.95);
}

pad.midi:active {
background-color: alpha(@pad_midi_bg_color, 0.8);
}

pad.other {
background-color: @pad_other_bg_color;
}

pad.other:hover {
background-color: alpha(@pad_other_bg_color, 0.95);
}

pad.other:active {
background-color: alpha(@pad_other_bg_color, 0.8);
}
